.button-container {
    display: flex;
    margin-top: 55px;
}

.icon {
    padding: 4px;
}

.back-button {
    display: flex;
    justify-self: left;
    z-index: 2;
    font-size: 16px;
}

.continue-button {
    position: absolute;
    left: 0;
    right: 0;
}