.home {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    min-height: 100%;
    font-size: 14px;
    line-height: 1.25;
}

.calculate-div {
    padding-top: 10rem;
    padding-left: 4rem;
    width: 550px;
}

.flex-collumn-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 1200px;
    margin: 5rem 12rem 5rem 12rem;
}

.flex-collumn {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.sleep-stages {
    width: 54rem;
    margin: 0 auto 0 auto;
}

.img {
    width: 32rem;
}

header {
    font-size: 32px;
    margin: 2rem 0;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 81);
}

h2 {
    margin: 1.5rem 0;
    font-size: 32px;
}

h4 {
    margin: 0 0 1.5rem 0;
    font-size: 28px;
}

p {
    margin: 0 0 25px 0;
    font-size: 20px;
}

.p-sleep-stages {
    padding-top: 15px;
    padding-left: 25px;
    border-left: 1px solid red;
}