@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.header {
  /* height: 50rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  height: 60px;
  margin:0;
  background-color: #1498D5;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

section {
  padding-top: 50px;
}

h1 {
  border-right: 1px solid #ffffff;
  padding-right: 15px;
}

.icon-img {
  width: 35px;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  font-size: 18px;
}

a {
  color: #fff;
}

.home {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  min-height: 100%;
  font-size: 14px;
  line-height: 1.25;
}

.sec {
  height: 55rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(248, 248, 248, 0.7732843137254902) 8%
  );
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.div-content {
  padding-left: 3rem;
}

.calculate-div {
  width: 550px;
  height: 330px;
  padding-left: 4rem;
  border-left: 1px solid rebeccapurple;
}

.flex-collumn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 1200px;
  margin: 5rem auto 5rem auto;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sleep-stages {
  width: 54rem;
  margin: 0 auto 0 auto;
}

.img {
  width: 35rem;
}

header {
  font-size: 32px;
  margin: 2rem 0;
}

h2 {
  margin: 1.5rem 0;
  font-size: 32px;
  font-weight: 600;
}

p {
  margin: 0 0 25px 0;
  font-size: 20px;
  font-weight: 400;
}

.sleep-stages-div {
  padding-top: 15px;
  padding-left: 25px;
  border-left: 1px solid #9a999a;
}

footer {
  height: 15rem;
  background-color: blueviolet;
}
