.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 60px;
  height: 60px;
  margin: 0;
  background-color: #1498d5;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

a {
  color: #fff;
}

.icon-img {
  width: 35px;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  font-size: 18px;
}

#mainNav ul {
  list-style: none;
  margin: 0;
}

#mainNav ul li {
  display: inline-block;
  display: inline;
  margin: 0px;
}

#mainNav ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
}

#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all 0.5s;
}

#mainNav ul li a:hover {
  color: #e34f25;
}

#mainNav.stroke ul li a {
  position: relative;
}

#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #25e3e0;
  height: 1px;
}

#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #25e3e0;
  z-index: 1;
}
#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}
