* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main-container {
  width: 100%;
}

.section-container {
  margin: auto;
}

.section {
  padding: 15px;
  width: 60rem;
  height: 40rem;
  margin-top: 30px;
  background-color: royalblue;
}

.article {
  background-color: rgb(229, 241, 238);
}
